#root {
  max-width: 1280px;
margin: -16rem 10rem 0 16rem;
/* top | right | bottom | left */
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.greeting {
  font-size: 1.25rem;   /* text-2xl */
  font-family: monospace; /* font-mono */
  margin-bottom: .75rem; /* mb-2 */
  color: #857f74; /* or any color you want */
  text-align: left;
}

.name {
  font-size: 6rem;
  font-family: 'Times New Roman', Georgia, Playfair, serif; /* font-serif */
  font-weight: bold; /* font-bold */
  color: #cadf9e;
  text-align: center;
}
.position {
  font-size: 5rem;
  font-family: 'Times New Roman', Georgia, Playfair, serif; /* font-serif */
  font-weight: bold; /* font-bold */
  color: #a4ac96;
  text-align: center;
}



