@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



#root {
max-width: 1280px;
margin: -16rem 10rem 0 16rem;
/* top | right | bottom | left */
  padding: 2rem;
  text-align: center;
}

.greeting {
  font-size: 1.25rem;   /* text-2xl */
  font-family: monospace; /* font-mono */
  margin-bottom: .75rem; /* mb-2 */
  color: #857f74; /* or any color you want */
  text-align: left;
}

.name {
  font-size: 6rem;
  font-family: 'Times New Roman', Georgia, Playfair, serif; /* font-serif */
  font-weight: bold; /* font-bold */
  color: #cadf9e;
  text-align: center;
  margin-bottom: -1.5rem; /* mb-2 */
}
.position {
  font-size: 5rem;
  font-family: 'Times New Roman', Georgia, Playfair, serif; /* font-serif */
  font-weight: bold; /* font-bold */
  color: #a4ac96;
  text-align: center;
}

.resume-button{
  margin-top: 0rem;
  margin-left: -45rem; /* mt-6 */
  font-size: 1.25rem; /* text-2xl */
  font-family: monospace; /* font-mono */   
  align-items: center;
}

button:hover {
  border-color: #646cff;
}