@import "tailwindcss";

:root {


  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0;
/* top | right | bottom | left */
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.greeting {
  font-size: 1.25rem;   /* text-2xl */
  font-family: monospace; /* font-mono */
  margin-bottom: .75rem; /* mb-2 */
  color: #857f74; /* or any color you want */
  text-align: left;
}

.name {
  font-size: 6rem;
  font-family: 'Times New Roman', Georgia, Playfair, serif; /* font-serif */
  font-weight: bold; /* font-bold */
  color: #cadf9e;
  text-align: center;
  margin-bottom: -1.5rem; /* mb-2 */
}
.position {
  font-size: 5rem;
  font-family: 'Times New Roman', Georgia, Playfair, serif; /* font-serif */
  font-weight: bold; /* font-bold */
  color: #a4ac96;
  text-align: center;
}

.resume-button{
  margin-top: 0rem;
  margin-left: -45rem; /* mt-6 */
  font-size: 1.25rem; /* text-2xl */
  font-family: monospace; /* font-mono */   
  align-items: center;
  background-color: black;
  color: white;
  box-shadow: 4px 4px 0 0 #cadf9e;
  border-color: #cadf9e;
 
}
.resume-button:hover {
  background-color: #857f74;
  color: #000;
  box-shadow: none;
  transform: translate(-4px, -4px);
   border-color: black;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Hero {
  margin: -14rem 10rem 0 15rem;
  opacity: 0; 
  animation-name: fadeIn;
  animation-duration: 1.25s; /* Set the duration of the fade-in animation */
  animation-delay: .3s; /*  Delay the animation for 2 seconds */
  animation-fill-mode: forwards; 

}
  
